/* basic styles */
/* basic color #757575; */
/* secondary color #212121 */
/* primary-white-color #FFFFFF */
/* accent color #2196F3 */
/* footer-bgc #2f303a */

:root {
  --basic-color: #757575;
  --title-color: #212121;
  --primary-white-color: #ffffff;
  --brand-accent: #2196f3;
  --footer-bgc: #2f303a;
  --border-header: #ececec;
  --hero-bgc: #c4c4c4;
  --icon-color: #afb1b8;
  --filter-bgc: #f5f4fa;
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------BODY-------------------------- */
body {
  background-color: var(--primary-white-color);
  color: var(--basic-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* -----------------------------HEADER------------------------- */
.header {
  border-bottom: 1px solid var(--border-header);
}

.header-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-accent);
}

.logo-black {
  color: #000000;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-duration) var(--timing-function);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--brand-accent);
}

.current {
  position: relative;
  color: var(--brand-accent);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--brand-accent);
  border-radius: 2px;
}

/* -------------------header-contacts---------------------- */

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list .item + .item {
  margin-left: 40px;
}

.header-tel,
.header-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--basic-color);
  transition: color var(--timing-duration) var(--timing-function);
}

.icon-tel,
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--brand-accent);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--brand-accent);
}

/* ------------------------HERO------------------------ */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--brand-accent);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #0087f5;
}

/* -----------------BENEFITS------------------------------- */

.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-list .item:not(:first-child) {
  margin-left: 30px;
}
.benefits-list .item {
  width: 270px;
}

.icon-satelite::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/antenna.svg);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 65px 70px;
  background-position: center;
}

.icon-clock::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/clock.svg);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 65px 70px;
  background-position: center;
}

.icon-diagram::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/diagram.svg);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 65px 70px;
  background-position: center;
}

.icon-astronaut::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/astronaut.svg);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 65px 70px;
  background-position: center;
}

.benefits-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--basic-color);
}

/* ---------------------opportunities----------------------- */

.opportunities {
  padding-top: 0;
}
.opportunities-title {
  margin-bottom: 50px;
}
.opportunities-list {
  display: flex;

  /* margin-left: -30px; */
}

.opportunities-item:not(:last-child) {
  margin-right: 30px;
}

/* .opportunities-item {

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
} */

.opportunities-item {
  position: relative;
}

.opportunities-text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* --------------------team ------------------------------- */

.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  /* margin-left: -30px; */
}
.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

/* .team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #fff;
} */

.employeer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-color);
}
.employeer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--basic-color);
  margin-bottom: 16px;
}

.employeer-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employeer-soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.employeer-soc-list .soc-item:last-child {
  margin-right: 0;
}

.employeer-soc-list .soc-item .soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color var(--timing-duration) var(--timing-function),
    color var(--timing-duration) var(--timing-function);
}

.soc-icon {
  fill: currentColor;
}

.employeer-soc-list .soc-item .soc-link:hover,
.employeer-soc-list .soc-item .soc-link:focus {
  background-color: var(--brand-accent);
  color: var(--primary-white-color);
}
/* ---------------------CLIENTS--------------------------- */

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--brand-accent);
  border-color: var(--brand-accent);
}

/* ---------------------FOOTER---------------------------- */

.footer {
  background-color: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-accent);
}
.logo-white {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}
.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  color: var(--primary-white-color);
  transition: color var(--timing-duration) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--brand-accent);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--timing-duration) var(--timing-function);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--brand-accent);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--brand-accent);
}
/* ----------------------JOIN US-------------------------- */
.footer > .container {
  display: flex;
  align-items: baseline;
}
.join-us {
  margin-left: 70px;
}
.join-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.soc-list {
  display: flex;
}
.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc-item:last-child {
  margin-right: 0;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: background-color var(--timing-duration) var(--timing-function);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--brand-accent);
}
.soc-icon {
  fill: currentColor;
}
/* ------------SUBSCRIBE----------------------------- */

.form-field {
  margin-left: 93px;
}

.subscribe {
  /* margin-left: 93px; */
}
.subscribe-text {
  font-weight: 700;

  line-height: 1.14;

  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imput-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bgc);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--brand-accent);
  border-radius: 4px;
  border: none;
}
/* ____________PORTFOLIO______________________________ */

.examples {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

/* .filter-bnt-accent {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--brand-accent);
  color: var(--primary-white-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
} */

.filter-bnt {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--filter-bgc);
  color: var(--title-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function),
    box-shadow var(--timing-duration) var(--timing-function);
}

.filter-bnt:hover,
.filter-bnt:focus {
  background-color: var(--brand-accent);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.example-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.example-img {
  display: block;
  transition: box-shadow var(--timing-duration) var(--timing-function);
}
.example-img:hover,
.example-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--timing-duration) var(--timing-function);
}

.example-img:hover .overlay-text,
.example-img:focus .overlay-text {
  transform: translateY(0);
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
  margin-bottom: 4px;
}
.example-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--basic-color);
}

.card-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 20px;
}

/* -------------------MODAL------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--timing-duration) var(--timing-function);

  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-duration) var(--timing-function);
  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.modal-btn:hover {
  fill: var(--brand-accent);
}
